# Ignore virtual environment
venv/

# Ignore Python compiled files
*.pyc

# Ignore log files
*.log

# Ignore IDE configuration files (e.g., VS Code)
.vscode/

# Ignore macOS system files
.DS_Store

assignment_VOL_data.xlsx
assignment-1.ipynb
assignment-2.ipynb
assignment2exp.py
NIFTY50_Zret_Sorted.xlsx
assignment_VOL_data.xlsx
NIFTY50_Zret_Compare.xlsx
NIFTY50_Historical_PR_01021990to27022025 copy.csv
S&P 500 Historical Data-2.csv
SNP500_Vol_Graph.ipynb
assignment2exp.py
NIFTY50.csv
NIFTY50_Historical_PR_01021990to27022025 copy.csv
NIFTY50_Zret_Compare.xlsx
NIFTY50_Zret_Sorted.xlsx
SNP500.xlsx
SNP500_Zvol.xlsx
to_delete.txt